<main id="main" class="main">
  <p-toast></p-toast>

  <div class="card">
    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
        <div class="filter-toolbar">
          <div>
            <div class="p-d-flex p-ai-center p-jc-between">
              <h5 class="p-m-0">Filter By Role</h5>
              <p-dropdown placeholder="Select Role" [options]="Roles" optionLabel="name" optionValue="_id"
                [showClear]="true" [(ngModel)]="selectedRole">
              </p-dropdown>
            </div>

          </div>
          <div>
            <div class="p-d-flex p-ai-center p-jc-between ml-20">
              <h5 class="p-m-0">Filter By Groups</h5>
              <p-multiSelect placeholder="Select Groups" [options]="Groups" optionLabel="name" optionValue="_id"
                [showClear]="true" [virtualScroll]="true" [style]="{'width':'240px'}" [panelStyle]="{'width':'200px'}"
                display="chip" [(ngModel)]="selectedGroups">
              </p-multiSelect>
            </div>
          </div>
          <div class="button-filter">
            <button (click)="filterTableData()" pButton pRipple type="button" label="Filter"
              style="width: 70px; letter-spacing:1px; font-weight: 100px; background-color: #0288D1;"
              class="p-button-raised"></button>
          </div>
        </div>

      </ng-template>

      <ng-template pTemplate="right">
        <div class="container-button-header">
          <button pButton pRipple label="Message" icon="pi pi-send" class="p-button-info"
            [disabled]="!selectedUsers || !selectedUsers.length"></button>
          <button *ngIf="checkuserRole('Admin' , 'Super-Admin')" pButton pRipple icon="pi pi-trash" [label]="'Delete'"
            class="p-button-danger" (click)="deleteSelectedUsers()"
            [disabled]="!selectedUsers || !selectedUsers.length || checkSelectedUsers(selectedUsers)"></button>
        </div>
      </ng-template>
    </p-toolbar>

    <ng-container *ngIf="show; else table">
      <p-progressSpinner [style]="{width: '50px', height: '50px', left: '50%',
    transform: 'translate(-50%, 0px)'}" styleClass="custom-spinner" strokeWidth="8" fill="var(--surface-ground)"
        animationDuration=".5s"></p-progressSpinner>
    </ng-container>

    <ng-template #table>
      <p-table #dt [value]="getUsers" [rows]="pageLimit" [paginator]="true" [(selection)]="selectedUsers" [lazy]="true"
        [rowHover]="true" dataKey="userId" (onPage)="onPage($event)" [totalRecords]="allRecords"
        currentPageReportTemplate="Showing {first} to {last} of {{allRecords}} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem;">
              <div (click)="clearSelect()">
                <i class="pi pi-minus-circle"
                  style="font-size: 20px ; color: darkgrey; cursor: pointer; margin-bottom: 16px;"></i>
              </div>
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>

            </th>
            <th>Id
            </th>
            <th>Name
            </th>
            <th>Email
            </th>
            <th>Phone Number
            </th>
            <th>Role
            </th>
            <th>Groups
            </th>
            <th *ngIf="checkuserRole('Admin' , 'Super-Admin')">Edit</th>
            <th *ngIf="checkuserRole('Admin' , 'Super-Admin')">Delete</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-User let-rowIndex="rowIndex">
          <tr>
            <td>
              <p-tableCheckbox [value]="User">
              </p-tableCheckbox>
            </td>
            <td>{{rowIndex + 1}}</td>
            <td>{{User.firstName}} {{User.lastName}}</td>
            <td>{{User.email}}</td>
            <td>{{User.phoneNumber | phoneFormat}}</td>
            <td>
              <span roleBorder #role>{{User.role}}</span>
            </td>

            <td>
              <ng-container *ngFor="let group of User.groups">
                <span>{{group}}</span> <br>
              </ng-container>
            </td>
            <td *ngIf="checkuserRole('Admin' , 'Super-Admin')">
              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-info p-mr-2"
                (click)="ToggleUpdateUserInfo(User)" [disabled]="(checkSuperRole(User , 'Admin' , 'Super-Admin') )|| 
                (selectedUsers?.length > 1) || 
                (selectedUsers?.length == 1 && selectedUsers[0]?.userId != User.userId)"></button>
            </td>
            <td *ngIf="checkuserRole('Admin' , 'Super-Admin')">
              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                (click)="deleteUser(User.userId)" [disabled]="(checkSuperRole(User , 'Admin' , 'Super-Admin') ) 
                || (selectedUsers?.length > 1) || 
                (selectedUsers?.length == 1 && selectedUsers[0]?.userId != User.userId)"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center p-jc-between">
            In total there are {{getUsers ? allRecords : 0}} Users.
          </div>
        </ng-template>
      </p-table>
    </ng-template>

  </div>
  <form [formGroup]="EditUserInfoForm" (ngSubmit)="UpdateUserInfo()">
    <p-dialog [(visible)]="UserDialog" [style]="{width: '450px'}" header="User Details" [modal]="true"
      styleClass="p-fluid" [draggable]="false">

      <ng-template pTemplate="content">

        <div class="p-field" *ngFor="let control of controls">
          <label for="name">{{control.title}}</label>
          <input *ngIf="control.controlName != 'phoneNumber' , else PhoneInput" [InputWarring]="control.type"
            formControlName="{{control.controlName}}" type={{control.type}} class="form-control" pInputText id="name"
            [attr.maxLength]="control.controlName == 'phoneNumber' ? 10 : ''" />
          <ng-template #PhoneInput>
            <input phoneValidation [attr.maxLength]="control.controlName == 'phoneNumber' ? '10' : ''"
              type={{control.type}} class="form-control" formControlName={{control.controlName}}>
          </ng-template>
        </div>
        <div class="col-md-12 mt-3">
          <label class="form-label">Role</label>
          <select [(ngModel)]="UserRole" label="Select Role" class="form-select" formControlName="role">
            <option selected disabled>Choose...</option>
            <option *ngFor="let role of Roles" [ngValue]="role">{{role.name}}</option>
          </select>
          <!-- <p-dropdown appendTo="body" [options]="Roles" placeholder="Select a Role" optionLabel="name">
          </p-dropdown> -->

          <label class="form-label">Groups</label>
          <p-multiSelect formControlName="groups" appendTo="body" [options]="Groups" [(ngModel)]="userGroupsSelect"
            defaultLabel="Select a Groups" optionLabel="name" display="chip">
          </p-multiSelect>
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" type="button"
          (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" type="submit"></button>
      </ng-template>

    </p-dialog>

  </form>
  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
</main>