<main id="main" class="main">
  <div class="pagetitle">
    <h1>Add New User</h1>
    <hr />
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-6" id="user-form">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">User Information</h5>
            <div *ngIf="UsersEmail?.includes(AddUserForm?.value.email)"
              class="alert alert-danger alert-dismissible fade show" role="alert">
              User Found
            </div>

            <form class="row g-3" [formGroup]="AddUserForm" (ngSubmit)="AddUser()">

              <div class="col-md-4 mb-3" *ngFor="let control of controls">
                <label class="form-label">{{control.title}}</label>
                <input type={{control.type}} class="form-control" formControlName={{control.controlName}}
                  [attr.maxLength]="control.controlName == 'phoneNumber' ? '10' : ''">
                <app-alerts [formName]="AddUserForm" [title]="control.title" [controlName]="control.controlName">
                </app-alerts>
              </div>

              <div class="col-md-4">
                <label class="form-label">Role</label>
                <select class="form-select" formControlName="role">
                  <option selected disabled value="">Choose...</option>
                  <option *ngFor="let role of Roles" [value]="role.id">{{role.name}}</option>
                </select>
                <app-alerts [formName]="AddUserForm" [title]="'Role'" [controlName]="'role'"></app-alerts>
              </div>

              <div class="col-md-4">
                <label class="form-label">Groups</label>
                <ng-select formControlName="groups" [maxSelectedItems]="3" [multiple]="true" [items]="Groups"
                  bindLabel="name" bindValue="id" placeholder="Select Groups">
                </ng-select>
                <app-alerts [formName]="AddUserForm" [title]="'Groups'" [controlName]="'groups'"></app-alerts>
              </div>

              <div class="col-12">
                <button class="btn btn-primary" type="submit">Save</button>
              </div>
              <br />
            </form>

          </div>
        </div>
      </div>
    </div>
  </section>

</main><!-- End #main -->