<main id="main" class="main">
  <div class="pagetitle">
    <h1>Show Users</h1>
    <hr />
  </div>

  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Default Table</h5>


            <table class="table">
              <thead>
                <tr>
                  <th width="2%" scope="col">id</th>
                  <th width="30%" scope="col">Name</th>
                  <th width="20%" scope="col">Email</th>
                  <th width="30%" scope="col">Group</th>
                  <th width="40%" scope="col">Roles</th>
                  <th width="40%" scope="col">Delete</th>
                  <th width="40%" scope="col">Edit</th>
                  <th width="40%" scope="col">Send</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of usersList , let indexOfelement=index ">
                  <th scope="row">{{indexOfelement+1}}</th>
                  <td>{{user.firstName}} {{user.lastName}}</td>
                  <td>{{user.email}}</td>
                  <ng-container *ngFor="let group of groupsList">
                    <td *ngIf="group.id == user.group">{{ group.name }}</td>
                  </ng-container>


                  <td>
                    <div *ngFor="let role of user.roles">{{role.name}}</div>
                  </td>
                  <td>
                    <button (click)="deleteUser(user.id)" type="button" class="btn btn-danger">
                      <i class="ri-delete-bin-6-line"></i>
                    </button>
                  </td>

                  <td><button  (click)="deleteUser(user.id)" type="button" class="btn btn-secondary">
                      <i class="ri-edit-box-line"></i>
                    </button>
                  </td>
                  <td><button (click)="deleteUser(user.id)" type="button" class="btn btn-primary">
                      <i class=" ri-message-2-line"></i>
                    </button>
                  </td>

                </tr>


              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </section>

</main>