.btn-icon {
  border: none;
  background-color: transparent;
  display: inline;
}

.group {
  margin-bottom: 20px;
}

.search-bar {
  display: flex;
  justify-content: space-between;
}

table {
  width: 100%;
}

.Table-title {
  font-size: 18px;
  color: #485adb;
}

.delete-and-message {
  text-align: end;
}

