<main id="main" class="main">
  <div class="pagetitle">
    <h1>Show Users</h1>
    <hr />
  </div>

  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Default Table</h5>


            <table class="table">
              <thead>
                <tr>
                  <th width="2%" scope="col">id</th>
                  <th width="30%" scope="col">Name</th>
                  <th width="20%" scope="col">Email</th>
                  <th width="30%" scope="col">Group</th>
                  <th width="40%" scope="col">Roles</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of usersList ">
                  <th scope="row">{{user.id}}</th>
                  <td>{{user.firstName}} {{user.lastName}}</td>
                  <td>{{user.email}}</td>

                  <ng-container *ngFor="let group of groupsList">
                    <td *ngIf="group.id == user.group">{{ group.name }}</td>
                  </ng-container>

                  <td>
                    <span *ngFor="let role of user.roles">{{ role.name }} </span>
                  </td>




                </tr>

              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </section>

</main>