<main id="main" class="main">

  <div class="pagetitle">
    <h1>Home</h1>
    <hr />
  </div>

  <section class="section dashboard">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">

          <ng-container *ngIf="show; else card">
            <app-spinner></app-spinner>
          </ng-container>

          <ng-template #card>
            <!-- <div *ngIf="checkRole('Admin' , 'Super-Admin') , else groups" class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">
                <div class="card-body">
                  <h5 class="card-title">Users</h5>
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="ri-user-star-fill"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{usersCount}}</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="container-chart">
              <div [style]="{'width': '35%'}">
                <h5 class="titleOfStats">Stats Of Roles</h5>
                <p-chart class="aaa" type="bar" [options]="options" [data]="basicDataRoles"></p-chart>
              </div>

              <div [style]="{'width': '35%'}">
                <h5 class="titleOfStats">Stats Of Groups</h5>
                <p-chart [options]="options" type="bar" [data]="basicDataGroups"></p-chart>
              </div>
            </div>
            <ng-template #groups>
              <div class="col-xxl-4 col-md-6">
                <div class="card info-card sales-card">
                  <div class="card-body">
                    <h5 class="card-title">My Groups</h5>
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="ri-user-star-fill"></i>
                      </div>
                      <div class="ps-3">
                        <h6>{{userInfo?.groups.length}}</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ng-template>
        </div>
      </div>
    </div>
  </section>
</main>
