<main id="main" class="main">
  <div class="pagetitle">
    <h1>Add New User</h1>
    <hr />
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">User Information</h5>
            <form class="row g-3" [formGroup]="SignUpForm" (ngSubmit)="onSubmit()">

              <div class="col-md-4 mb-3" *ngFor="let control of controls">
                <label class="form-label">{{control.title}}</label>
                <input type={{control.type}} class="form-control" formControlName={{control.controlName}}>
                <app-alerts [formName]="SignUpForm" [title]="control.title" [controlName]="control.controlName"></app-alerts>
              </div>

              <div class="col-md-4">
                <label class="form-label">Group</label>
                <select controlName="group" class="form-select" formControlName="group">
                  <option selected disabled value="">Choose...</option>
                  <option *ngFor="let group of groupsList" [value]="group.id">{{group.name}}</option>
                </select>
                <app-alerts [title]="'group'" [controlName]="'group'"></app-alerts>
              </div>
              <div class="col-md-4">
                <label class="form-label">Roles</label>
                <ng-select formControlName="roles" [maxSelectedItems]="3" [multiple]="true" [items]="rolesList"
                  bindLabel="name"  placeholder="Select Roles">
                </ng-select>
                <app-alerts [title]="'roles'" [controlName]="'roles'"></app-alerts>
              </div>
              <div class="col-12">
                <button class="btn btn-primary" type="submit">Save</button>
              </div>
              <br />
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

</main><!-- End #main -->
