<main id="main" class="main">
  <p-toast></p-toast>

  <div class="card">
    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
        <div class="filter-toolbar">
          <!-- <div class="p-d-flex p-ai-center p-jc-between">
          <h5 class="p-m-0">User Name</h5>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" placeholder="Search..."
              (input)="dt.filterGlobal($any($event.target).value, 'contains')" />
          </span>
        </div> -->

          <div>
            <div *ngIf="checkuserRole('Admin'), else userData" class="p-d-flex p-ai-center p-jc-between">
              <h5 class="p-m-0">Filter By Role</h5>
              <p-dropdown placeholder="Select Role" [options]="Roles" optionLabel="name" optionValue="id"
                [(ngModel)]="selectedRole" (ngModelChange)="filterTableData()">
              </p-dropdown>
            </div>
          </div>
          <div class="userRole">
            <ng-template #userData class="p-d-flex  p-ai-center p-jc-between">
              <label class="form-label">Your Role</label>
              <input type="checkbox" id="checked" style="margin: 0 10px;" (change)="filterTableData()">
              <small>Check To Filter By Your Role</small>
              <input disabled type="text" class="form-control" id="UserRole" value="{{userProfile.role}}">
            </ng-template>
          </div>

          <div>
            <div class="p-d-flex p-ai-center p-jc-between ml-20">
              <h5 class="p-m-0">Filter By Groups</h5>
              <p-dropdown placeholder="Select Group" [options]="userGroups" optionLabel="name" optionValue="id"
                [(ngModel)]="selectedGroup" (ngModelChange)="filterTableData()">
              </p-dropdown>
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="right">
        <button pButton pRipple label="Message" icon="pi pi-send" class="p-button-success"
          [disabled]="!selectedUsers || !selectedUsers.length"></button>
        <button *ngIf="checkuserRole('Admin')" pButton pRipple icon="pi pi-trash" [label]="'Delete'"
          class="p-button-danger" (click)="deleteSelectedUsers()"
          [disabled]="!selectedUsers || !selectedUsers.length"></button>
      </ng-template>
    </p-toolbar>

    <p-table #dt [value]="Users" [rows]="10" [paginator]="true" [(selection)]="selectedUsers" [rowHover]="true"
      dataKey="userId" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pSortableColumn="id">Id
          </th>
          <th pSortableColumn="name">Name
          </th>
          <th pSortableColumn="email">Email
          </th>
          <th pSortableColumn="phone">Phone Number
          </th>
          <th pSortableColumn="role">Role
          </th>
          <th pSortableColumn="groups">Groups
          </th>
          <th *ngIf="checkuserRole('Admin')">Edit</th>
          <th *ngIf="checkuserRole('Admin')">Delete</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-User let-rowIndex="rowIndex">
        <tr>
          <td>
            <p-tableCheckbox [value]="User">

            </p-tableCheckbox>
          </td>
          <td>{{rowIndex + 1}}</td>
          <ng-container *ngFor="let user of UsersData ">
            <td *ngIf="user.userId == User.userId ">{{user.firstName}} {{user.lastName}}</td>
          </ng-container>
          <ng-container *ngFor="let user of UsersData ">
            <td *ngIf="user.userId == User.userId ">{{user.email}}</td>
          </ng-container>
          <ng-container *ngFor="let user of UsersData ">
            <td *ngIf="user.userId == User.userId ">{{user.phoneNumber}}</td>
          </ng-container>
          <ng-container *ngFor="let role of Roles ">
            <td *ngIf="User.role == role.id ">{{role.name}}</td>
          </ng-container>
          <td>
            <ng-container *ngFor="let group of Groups">
              <ng-container *ngIf="User.groups.includes(group.id)">
                {{group.name}} <br>
              </ng-container>
            </ng-container>
          </td>
          <td *ngIf="checkuserRole('Admin')">
            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"></button>
          </td>
          <td *ngIf="checkuserRole('Admin')">
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
              (click)="deleteUser(User.userId)"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
          In total there are {{Users ? Users.length : 0 }} Users.
        </div>
      </ng-template>
    </p-table>
  </div>

  <p-dialog [(visible)]="UserDialog" [style]="{width: '450px'}" header="User Details" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
      <div class="p-field">
        <label for="name">Name</label>
        <input type="text" pInputText id="name" autofocus />
      </div>
      <div class="p-field">
        <label for="description">Description</label>
        <textarea id="description" pInputTextarea rows="3" cols="20"></textarea>
      </div>

      <div class="p-field">
        <label class="p-mb-3">Category</label>
        <div class="p-formgrid p-grid">
          <div class="p-field-radiobutton p-col-6">
            <p-radioButton id="category1" name="category">
            </p-radioButton>
            <label for="category1">Accessories</label>
          </div>
          <div class="p-field-radiobutton p-col-6">
            <p-radioButton id="category2" name="category"></p-radioButton>
            <label for="category2">Clothing</label>
          </div>
          <div class="p-field-radiobutton p-col-6">
            <p-radioButton id="category3" name="category">
            </p-radioButton>
            <label for="category3">Electronics</label>
          </div>
          <div class="p-field-radiobutton p-col-6">
            <p-radioButton id="category4" name="category"></p-radioButton>
            <label for="category4">Fitness</label>
          </div>
        </div>
      </div>

      <div class="p-formgrid p-grid">
        <div class="p-field p-col">
          <label for="price">Price</label>
          <p-inputNumber id="price">
          </p-inputNumber>
        </div>
        <div class="p-field p-col">
          <label for="quantity">Quantity</label>
          <p-inputNumber></p-inputNumber>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
      <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"></button>
    </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
</main>