<main id="main" class="main">
  <p-toast></p-toast>

  <div class="card">
    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
        <div class="filter-toolbar">
          <div>
            <div *ngIf="checkuserRole('Admin' , 'Super-Admin'), else userData"
              class="p-d-flex p-ai-center p-jc-between">
              <h5 class="p-m-0">Filter By Role</h5>
              <p-dropdown placeholder="Select Role" [options]="Roles" optionLabel="name" optionValue="name"
                [(ngModel)]="selectedRole" (ngModelChange)="filterTableData()">
              </p-dropdown>
              <br />
              <button pButton pRipple label="All Roles" icon="pi pi-align-justify" class="p-button-info"
                (click)="clearRole()"></button>
            </div>
          </div>
          <div class="userRole">
            <ng-template #userData class="p-d-flex  p-ai-center p-jc-between">
              <label class="form-label">Your Role</label>
              <input [(ngModel)]="checkInput" type="checkbox" id="checked" style="margin: 0 10px;"
                (change)="filterTableData()">
              <small>Check To Filter By Your Role</small>
              <input disabled type="text" class="form-control" id="UserRole" value="{{userInfo?.role}}">
            </ng-template>
          </div>

          <div>
            <div class="p-d-flex p-ai-center p-jc-between ml-20">
              <h5 class="p-m-0">Filter By Groups</h5>
              <p-dropdown placeholder="Select Group" [options]="Groups" optionLabel="name" optionValue="name"
                [(ngModel)]="selectedGroup" (ngModelChange)="filterTableData()">
              </p-dropdown>
              <br />
              <button pButton pRipple label="All Groups" icon="pi pi-align-justify" class="p-button-info"
                (click)="clearGroup()"></button>
            </div>
          </div>
          <div>
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="right">
        <div class="container-button-header">
          <button pButton pRipple label="Message" icon="pi pi-send" class="p-button-info"
            [disabled]="!selectedUsers || !selectedUsers.length"></button>
          <button *ngIf="checkuserRole('Admin' , 'Super-Admin')" pButton pRipple icon="pi pi-trash" [label]="'Delete'"
            class="p-button-danger" (click)="deleteSelectedUsers()"
            [disabled]="!selectedUsers || !selectedUsers.length || checkSelectedUsers(selectedUsers)"></button>
        </div>
      </ng-template>
    </p-toolbar>

    <p-table #dt [value]="usersDataInfo" [rows]="10" [paginator]="true" [(selection)]="selectedUsers" [rowHover]="true"
      dataKey="userId" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th>Id
          </th>
          <th>Name
          </th>
          <th>Email
          </th>
          <th>Phone Number
          </th>
          <th>Role
          </th>
          <th>Groups
          </th>
          <th *ngIf="checkuserRole('Admin' , 'Super-Admin')">Edit</th>
          <th *ngIf="checkuserRole('Admin' , 'Super-Admin')">Delete</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-User let-rowIndex="rowIndex">
        <tr>
          <td>
            <p-tableCheckbox [value]="User">
            </p-tableCheckbox>
          </td>
          <td>{{rowIndex + 1}}</td>
          <td>{{User.firstName}} {{User.lastName}}</td>
          <td>{{User.email}}</td>
          <td>{{User.phoneNumber}}</td>
          <td>{{User.role}}</td>

          <td>
            <ng-container *ngFor="let group of User.groups">
              <span>{{group}}</span> <br>
            </ng-container>
          </td>
          <td *ngIf="checkuserRole('Admin' , 'Super-Admin')">
            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-info p-mr-2"
              (click)="editUser(User.userId)" [disabled]="checkSuperRole(User , 'Admin' , 'Super-Admin')"></button>
          </td>
          <td *ngIf="checkuserRole('Admin' , 'Super-Admin')">
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
              (click)="deleteUser(User.userId)" [disabled]="checkSuperRole(User , 'Admin' , 'Super-Admin')"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
          In total there are {{usersDataInfo ? usersDataInfo.length : 0 }} Users.
        </div>
      </ng-template>
    </p-table>
  </div>
  <form [formGroup]="EditForm" (ngSubmit)="onsubmit()">
    <p-dialog [(visible)]="UserDialog" [style]="{width: '450px'}" header="User Details" [modal]="true"
      styleClass="p-fluid" [draggable]="false">

      <ng-template pTemplate="content">

        <div class="p-field" *ngFor="let control of controls">
          <label for="name">{{control.title}}</label>
          <input formControlName="{{control.controlName}}" type={{control.type}} pInputText id="name" autofocus />
        </div>
        <div class="col-md-12 mt-3">
          <label class="form-label">Role</label>
          <select label="Select Role" class="form-select" formControlName="role">
            <option selected disabled>Choose...</option>
            <option *ngFor="let role of Roles" [ngValue]="role.name">{{role.name}}</option>
          </select>
          <label class="form-label">Groups</label>
          <p-multiSelect formControlName="groups" appendTo="body" [options]="Groups" [(ngModel)]="GroupSelect"
            defaultLabel="Select a Groups" optionLabel="name" display="chip"></p-multiSelect>
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" type="submit"></button>
      </ng-template>

    </p-dialog>

  </form>
  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
</main>
