/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

:root {
  --labelsColor: rgb(170, 170, 170);
  --BarColor: rgb(38, 0, 252);
  --navColor: #fff;
  --textColor: #012970;
  --textHover: #4154f1;
  --navItemHover: #FFFFFF;
  --colorForMainPart: #f6f9ff;
  --cardColor: #FFFFFF;
  --btnPrimary: #012970;
}

@media only screen and (min-width: 1200px) {
  #sidebar {
    left: 0px;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background: var(--colorForMainPart);
}

#main {
  background: var(--colorForMainPart);
  height: 100vh;
}

.pagetitle h1 {
  color: var(--textColor);
}

hr {
  color: var(--textColor);
}

body::-webkit-scrollbar {
  display: none;
}

.header {
  transition: all 0.5s;
  z-index: 997;
  height: 60px;
  box-shadow: 0px 2px 20px rgb(1 41 112 / 10%);
  background-color: var(--navColor);
  padding-left: 20px;
}

.logo span {
  font-size: 26px;
  font-weight: 700;
  color: var(--textColor);
  font-family: "Nunito", sans-serif;
}

.header .toggle-sidebar-btn {
  color: var(--textColor);
}

.header-nav .nav-profile span {
  color: var(--textColor);
}

.sidebar {
  background-color: var(--navColor);
}

.sidebar-nav .nav-link {
  background: var(--navColor);
  color: var(--textColor);
}

.sidebar-nav .nav-link i {
  color: var(--textColor);
}

.sidebar-nav .nav-link i:hover {
  color: var(--textHover);
}

.sidebar-nav .nav-link.collapsed {
  color: var(--textColor);
  background: var(--navColor);
}

.sidebar-nav .nav-content a,
.sidebar-nav .nav-content a {
  color: var(--textColor);
}

.sidebar-nav .nav-content a:hover,
.sidebar-nav .nav-content a.active {
  color: var(--textHover);
}

.sidebar-nav .nav-link:hover i {
  color: var(--textColor);
}

.sidebar-nav .nav-link:hover {
  color: var(--textColor);
  background: var(--navColor);
}

.bi-chevron-down::before {
  content: "\f282";
  color: var(--textColor);
}

.bi-chevron-down::after {
  color: var(--textHover);
}

.sidebar-nav .nav-link.collapsed i {
  color: var(--textColor);
}

.sidebar-nav .collapsed i {
  color: var(--textColor);
}

.card {
  background-color: var(--cardColor);
}

.card-title {
  color: var(--textColor);
}

.dashboard .info-card h6 {
  color: var(--textColor);
}

.btn-outline-primary {
  color: var(--btnPrimary);
  border-color: var(--btnPrimary);
}

.btn-outline-primary {
  color: var(--btnPrimary);
  border-color: var(--btnPrimary);
}

.titleOfStats {
  color: var(--textColor);
}

label {
  color: var(--textColor);
}

.btn-primary {
  color: var(--navColor);
  background-color: var(--textColor);
  border-color: var(--textColor);
}

.btn-primary:hover {
  color: var(--navColor);
  background-color: var(--textColor);
  border-color: var(--textColor);
}

.btn-check:focus+.btn-primary,
.btn-primary:focus {
  color: var(--navColor);
  background-color: var(--textColor);
  border-color: var(--textColor);
  box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 0%);
}

.filter-toolbar {
  display: flex;
}

.p-dropdown {
  width: 15rem;
}

.ml-20 {
  margin-left: 20px;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #fff;
}

*::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 20px;
  border: 3px solid #fff;
}

.p-button.p-button-warning,
.p-buttonset.p-button-warning>.p-button,
.p-splitbutton.p-button-warning>.p-button {
  color: #ffffff;
  background: #cf0e0e;
  border: 1px solid #cf0e0e;
}

.p-button.p-button-warning:enabled:hover,
.p-buttonset.p-button-warning>.p-button:enabled:hover,
.p-splitbutton.p-button-warning>.p-button:enabled:hover {
  color: #ffffff;
  background: #b90c0c;
  border: 1px solid #b90c0c;
}

.p-button.p-button-icon-only.p-button-rounded {
  border-radius: 15%;
}

.p-toolbar {
  border: none;
  background-color: #f8f9fa;
  padding-top: 30px;
}

.p-datatable .p-datatable-tbody>tr>td {
  text-align: center;
}

.p-datatable .p-datatable-thead>tr>th {
  text-align: center;
}

.aaa {
  background-color: var(--textColor);
}

@media only screen and (max-width: 600px) {
  .filter-toolbar {
    display: block;
  }

  .ml-20 {
    margin-left: 0;
    margin-bottom: 10px;
  }
}
