<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard/admin">
        <i class="ri-home-4-line"></i>
        <span>Home</span>
      </a>
    </li><!-- End Home Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
        <i class="ri-user-6-line"></i><span>Users</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a routerLink="/dashboard/add">
            <i class="bi bi-circle"></i><span>Add new user</span>
          </a>
        </li>
        <li>
          <a routerLink="/dashboard/show">
            <i class="bi bi-circle"></i><span>Show users</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- End Users Nav -->

    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard/settings">
        <i class="ri-settings-3-line"></i>
        <span>Settings</span>
      </a>
    </li>
  </ul>

</aside>
<!-- End Sidebar-->
